# This is an example .env file for the SynkHub API. Copy this file to .env and fill in the appropriate values before running the application.
DATABASE_HOST=synkhub-api-development-postgresql
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@synkhub-api-development-postgresql:5432
REDIS_URL=redis://synkhub-api-development-redis:6379/0
JWT_SECRET=your_jwt_secret_here

# GitHub OAuth App credentials
GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret
GITHUB_REDIRECT_URI=http://localhost:5173/github/callback
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret_here
GITHUB_WEBHOOK_URL={backend_url}/api/v1/webhooks/github